* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  @font-face {
    font-family: "sans";
    src: url(font/sans.ttf);
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
  
  body {
    color: black;
    font-family: 'Open Snas', sans-serif;
    height: 100vh;
    background: #5698c978;
    /* overflow: hidden; */
    /*background-image: url('weather1.png');*/
    /*background-repeat: no-repeat;*/
    /* font-family: Arial, Helvetica, sans-serif; */
   /* background-size: cover;*/
    /*background: #E3F2FD;*/
  }

 .container{
  display: flex;
  gap: 35px;
  padding: 30px;

 }

 .weather{
  width: 800px;
}

.weather input{
  height: 40px;
  outline: none;
  width: 100%;
  font-size: 1.0rem;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
  border-radius: 10px;
}

.weather input:focus {
  padding: 0 16px;
  border: 2px solid #5372F0;
}

.weather .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather .separator::before{
  content: "or";
  color: #6C757D;
  font-size: 1.18rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #E3F2FD;
}

.weather button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background: #5372F0;
  transition: 0.2s ease;
}

.weather .search-btn:hover {
  background: #2c52ed;
}

.weather .location-btn {
  background: #6C757D;
}

.weather .location-btn:hover {
  background: #5c636a;
}

.weather-data {
  width: 100%;
}

.weather-data .current-weather {
  color: #fff;
  background: #5372F0;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.current-weather h2 {
  font-weight: 700;
  font-size: 1.7rem;
}

.weather-data h6 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.current-weather .icon {
  text-align: center;
}

.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}

.current-weather .icon h6 {
  margin-top: -10px;
  text-transform: capitalize;
}

.days-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
}

.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}

.weather-cards .card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #6C757D;
  border-radius: 5px;
}

.weather-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
}

@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
}

@media (max-width: 950px) {
  .weather{
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather{
    width: 100%;
  }
  .weather-data h2 {
    font-size: 1.35rem;
  }
}

  /*
  .hedd {
    font-size: 50px;
    font-family: "sans";
    margin-top: 3px;
  }
  
  h1 {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    font-family: "sans";
  }
  
  .modal {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 70px;
    display: none;
  }
  
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #19172e;  
  }
  

  
  .weather {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  #location {
    font-size: 3rem;
    font-weight: 800;
  }
  
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  */

  footer {
    background-color: #08252fc2;
    text-align: center;
    color: white;
    font-size: 1rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    line-height: 3vh;
  }
  
  footer a:visited {
    color: inherit;
  }
  
  @media only screen and (max-width: 768px) {
    .modal {
      display: block;
    }
  }
  /*
  .app-main {
    min-width: 30vh;
    width: 50vw;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.50);
    padding: 20px;
    text-align: center;
  
  }
  
  .app-main {
    margin-bottom: 20px;
  
  }
  
  .input-box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.50);
    border: none;
    outline: none;
    color: #582233;
    font-size: 25px;
    height: 50px;
  
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
  
  }
  
  .input-box:focus {
    background-color: rgba(255, 255, 255, 0.50);
  }
  
  .weather-body {
    display: none;
    color: #582233;
    padding: 10px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.50);
    text-align: center;
  }
  
  .location {
    font-weight: bold;
  }
  
  .weather-status {
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  
  .temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0, 0, 0, 0);
    text-align: center;
  }
  
  .min-max,
  .weather {
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
  }
  
  .weather {
    font-size: 12pt;
    font-weight: 600;
    justify-content: center;
  }
  
  .heading {
    width: 100%;
    text-align: center;
    padding-top: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
  
  #myChart {
    display: none;
  }

  */